1. Nikdy nerob UPPERCASE texty.
2. Ak chces pridat hrubku pisma nepouzivaj semibold iba bold.
3. Nepouzivaj v kazdom pripade nadpisy-titles a popisky-descriptions pre kazde okno alebo kartu...vynechaj ich ak niesu potrebne.